:root {
  --arcd-shadow-none: none;
  --arcd-shadow-hairline: 0 1px 2px rgb(22 22 22 / 4%);
  --arcd-shadow-xs: var(--arcd-shadow-none);
  --arcd-shadow-sm: var(--arcd-shadow-none);
  --arcd-shadow-md: 0 8px 20px rgb(22 22 22 / 12%);
  --arcd-shadow-lg: 0 16px 32px rgb(22 22 22 / 18%);
}
